main.run.xml
main.out
main.log
main.blg
main.bcf
main.bbl
main.fdb_latexmk
main.fls
main.aux
main.synctex.gz
laconic.run.xml
laconic.out
laconic.log
laconic.blg
laconic.bcf
laconic.bbl
laconic.fdb_latexmk
laconic.fls
laconic.aux
laconic.synctex.gz
.gitignore
sections/experience.tex
.DS_Store
